# Rust
/target/
**/*.rs.bk
**/*.swp
**/*.swo
Cargo.lock
# IDEs and editors
.idea/
*.iml
# OS files
.DS_Store
Thumbs.db
# By-products
*.log
*.tmp
# Coverage
/coverage/
*.profraw
# Misc
*.old
*.orig
*.bak
# Test output
/test-output/
# Ignore local env files
.env
.env.*

transactions.csv
accounts.csv
